* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  margin: 10px 0 10px;
  text-align: center;
}

a:link,
a:visited {
  color: inherit;
  cursor: pointer;
}

nav {
  text-align: center;
}

.logged-in-header {
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 20px;
  font-weight: 600;
}
.dashboard-header {
  display: flex;
  flex-direction: column;
}

.dashboard-header * {
  margin: 5px 0;
}

button {
  padding: 10px;

  outline: none;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #1565c0;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
button:hover {
  background: #5e92f3;
}
button:active {
  background: #5e92f3;
}
